[submodule "argo-rollouts"]
	path = argo-rollouts
	url = https://github.com/argoproj/argo-rollouts.git
    branch = main
[submodule "rollouts-plugin-trafficrouter-openshift"]
	path = rollouts-plugin-trafficrouter-openshift
	url = https://github.com/argoproj-labs/rollouts-plugin-trafficrouter-openshift/
